.abs-topright {
    position: absolute;
    right: 300px;
	top:0;
	width:500px;
	height:400px;
}
.abs-topleft {
    position: absolute;
    left: 30px;
	top:0;
	width:500px;
	height:400px;
}
.abs-buttomleft {
    position: absolute;
    left: 30px;
	top:380px;
	width:850px;
	height:400px;
}
.abs-buttomright {
    position: absolute;
    right: 300px;
	top:350px;
	width:500px;
	height:400px;
}